<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis-context.xml 파일은 mybatis를 사용하는 project에서
	가장 필수적으로 작성해야 하는 파일이다
	project가 시작될때 mybatis framework는 이 파일의 정보를 기초로
	를 만들고 sb에 연결할 수있는 코드를 내부적으로
	자동생성하게 된다.
	1. 의 id 설정
	이설정 2개 이상의 db에 연걸하는 정보를 한 프로젝트에서 사용할 경우
	각 프로젝트에서 여러개의 환경가 있더 
	
	
	3.transactionManager
		db연동하여 sql을 수행할때 다수의 dql이 한개의 흐름에서 적요될대
		이 dql의 모든 실행이 완던히 수행된을 보장하는 것으로
		
		실제 트랜잭션을 코드에서 수행하려면 상당히 많은 부분의 콛드가 필요하다
		잘못 설정하게 되면 흐름을 방해하고 프로젝트가 멈추는ㅁ 현상까지
		발생할 수 있다.
		
		mybatis를 사용하게 되면 지원돠는 기능을 활용하여
		최소한
		
		
		* tag self closing
		열리는 tag와 닫히는 tag가 반드시 쌍을이루어서 문서를 만들어 하는게
		별도로 element tag 가 필요 없는 경우는 열리는
	
	4.dataSource
		db에 연결하는데 필요한 drvier, url, username, passwordd 등의 정보
		dbconnection을 만드는데 필요한 정보들
		
		명령, 데이터를 교환할 수 있도록 관리하는 클래스
		다른 프레임워크와 연동을 하면 다양한 관리자를 사용할 수 있다.
	
	5.
		에 설정할 속성값이 많을 경우 
		별도로 를 사용하여 값들을 설정한다.
		
		
	 -->
	   
<configuration>
	<typeAliases>
		<typeAlias type="com.biz.order.model.OrderVO" alias="OrderVO" />
	</typeAliases>
	
	<environments default="oracle_datasouce">
		<environment id="oracle_datasouce">
		
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="user2" />
				<property name="password" value="user2" />
			</dataSource>
		</environment>
	
	</environments>
	<mappers>
		<mapper resource="com/biz/order/mapper/order-mapper.xml" />
	</mappers>
	
</configuration>